{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

<div class="cart-discount">
  <form class="cart-discount-form" onsubmit="handleDiscountForm(event)">
    <div class="cart-discount-form__row">
      <div class="field">
        <input
          class="field__input"
          autocomplete="name"
          type="text"
          name="cart-discount-field"
          placeholder="{{ settings.cart_discount_placeholder }}"
          oninput="handleDiscountFormChange(event)"
        >
        <label class="field__label" for="cart-discount-field">{{ settings.cart_discount_placeholder }}</label>
      </div>
      <button class="button" type="submit">{{ settings.cart_discount_btn_label }}</button>
    </div>
    <p class="cart-discount-form__error">Please enter a discount code!</p>
  </form>
</div>
